# Terraform files
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars
terraform.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc
.python-version


# OS
.DS_Store
